<pre>
obj = {
    {{#each obj}}
        {{#if @last}}
  {{{@key}}}: '{{{this}}}'
        {{else}}
  {{{@key}}}: '{{{this}}}',
        {{/if}}
    {{/each}}
}

 count = {{rows.length}}
    {{#each rows}}
【{{@index}}】{{#each this}}{{#if @last}}<a href="#" onclick="openfile(this)">{{{this}}}</a>{{else}}{{{this}}} {{/if}}{{/each}}</a>
    {{/each}}
</pre>
<script>
    function openfile(obj) {
        console.log(obj)
        var text = obj.previousSibling.textContent
        text = text.slice(0, text.length - 1)
        var beg = text.lastIndexOf(' ')
        var id = text.slice(beg+1, text.length)
        window.open("/openfile?filename=" + id, "_blank", "top=100,left=100,width=800,height=600,menubar=no,scrollbars=no,toolbar=no,status=no,location=no");
        //window.open("/openfile?filename=" + id, "_blank")
    }
</script>



