<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/editobject.css">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Next</th>
                    <th><input class="edit" spellcheck="false" type="text" value="{{{title}}}"></th>
                    <!--<th>pageno</th>
                    <th>level</th>-->
                </tr>
            </thead>
            <tbody>
            {{#each rows}}
                <tr>
                    <th scope="row" id="{{@index}}">{{@index}}</th>
                    <!--<td><a href="#34">Next</a></td>-->
                    <td><input type="button" value="Hide" onclick="location_next(this)"></td>
                    <td style="padding-left: {{l}}em;"><input class="edit" spellcheck="false" type="text" value="{{{t}}}"></td>
                    <!--<td>{{!n}}</td>
                    <td>{{!l}}</td>-->
                </tr>
            {{/each}}
            </tbody>
        </table>

    <script>
        function location_next(self){
            console.log(self)
        }
    </script>
    </body>
</html>
